#content {
  padding: 15% 25% 25% 25%;  
}

#search-header {
  font-weight: bold;
  text-align: left;
  padding-left: 15px;
}

.search-form {
  border-radius: 30px;
  width: 100%;
  height: 30px;
  border: none;
  padding-left: 15px;
}

.result-text {
  margin-top: 5%;
}

.text-center {
  font-weight: bold;
  text-align: center;
}

#precipitation-text {
  text-align: center;
}